# Loại bỏ thư mục mô hình lớn
phobert_base/
phobert_finetuned/
data/
*.pkl
*.faiss

# Loại bỏ cache và file tạm
__pycache__/
*.pyc
*.pyo
*.log
*.cache

# Loại bỏ file môi trường và virtual env
.venv/
venv/
*.env

# Loại bỏ file Git và không cần thiết
.git/
.gitignore
*.md

# Loại bỏ file chứng chỉ
certs/
*.pem