# Bỏ qua các tệp biên dịch
*.pyc
*.pyo
*.pyd

# Bỏ qua thư mục ảo của Python
__pycache__/

# Bỏ qua môi trường ảo
venv/
.env/
.virtualenv/

# Bỏ qua các tệp nhật ký
logs/
*.log
app
celery

# Bỏ qua thư mục kết quả biên dịch và IDE
.idea/
.vscode/

# Bỏ qua tệp database SQLite (nếu có)
*.sqlite3
*.db

# Bỏ qua thư mục dist, build khi đóng gói
dist/
build/
